@font-face {
    font-family: 'Cafe24 Supermagic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Supermagic/Cafe24Supermagic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Supermagic/Cafe24Supermagic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Supermagic/Cafe24Supermagic.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Supermagic/Cafe24Supermagic.ttf') format('truetype');
}
